/* CSS RESET */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
ins { text-decoration: none; } /* remember to highlight inserts somehow! */
del { text-decoration: line-through; }
table { border-collapse: collapse; border-spacing: 0; } /* tables still need 'cellspacing="0"' in the markup */

html {
    background: #6b88a5;   
    overflow-x: hidden;
}

body {
    font:62.5% 'Lucida Grande', Arial, sans-serif;
}

a { color:#fff; }

#header {
    padding:20px 0 20px 40px;
    color:#fff;
    position:relative;
}

#header h1 {
    width:337px;
    height:92px;
    background:url(../images/tweography.png) top left no-repeat;
    text-indent:-9999px;
}

#header #login {
position:absolute;
    top:35px;
    left:420px;
    background: url(../images/login-r.png) top right no-repeat;
}

#header span {
    font-size:1.6em;
    display:block;
    background: url(../images/login-left.png) top left no-repeat;
    height:24px;
    padding:16px 25px 16px 35px;
}

#content {
    background-color:#fff;
    padding:15px 25px 20px 20px;
    color:#db9000;
    -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
    margin-right:-5px;
    overflow:hidden;
}

#content h2 {
    font-weight:normal;
    font-size:2.5em;
    margin:0 0 15px 10px;
}

#exterior #content h2 {
    margin-top:15px;
}

#content p {
	font-size: 1.4em;
	margin: 0 0 0 10px;
	color: #888;
}

#content #signin-button {
	width: 151px;
	height: 24px;
	text-indent: -9999px;
	display: block;
	background: url(../images/twitter-signin.png) top left no-repeat;
	border: 1px solid red;
}

#content img {
	margin-top: 20px;
}

#content img#mini-map {
    margin:10px 20px 10px 10px;
    float:left;
}

#footer {
    color:#fff;
    margin:20px 0 20px 40px;
    font-size:1.2em;
}