html, body, #wrap {
    height: 100%;
    color: #444;
}
a {
    color: #0084B4;
}
h3 {
    font-size: 1em;
    display: inline;
}
.blue {
    color: #0084B4;
}
.red {
    color: #FF493C;
}
.number {
    color: #CCCCCC;
}
#say_thanks {
    display: none;
    padding-top: 20px;
    text-align: right;
}
#say_thanks form {
    display: none;
    position: absolute;
    width: 310px;
    background: #fff;
    padding: 10px;
    margin-left: 30px;
    border: 1px solid #eee;
    border-top: 0;
}
#say_thanks textarea {
    width: 300px;
    height: 4em;
}
#results a {
    text-decoration: none;
}
#results li {
    color: #CCCCCC;
}
#progress {
    font-family: monospace;
    font-size: 14px;
    line-height: 25px;
    background: #FFFFCC;
    padding: 0px 5px;
}
#progress a {
    color: #3695a9;
    font-weight: bold;
}
#progress h2 {
    font-family: monospace;
    font-size: 14px;
    display: inline;
}
#header {
    height: 100px;
    padding-top: 15px;
}
#header a {
    text-decoration: none;
}
#footer {
    height: 4em;
    width: 100%;
    line-height: 4em;
    text-align: center;
    position: absolute;
    bottom: 0;
}
body > #wrap {
    min-height: 100%;
    height: auto !important;
}
#results {
    padding-bottom: 4em;
    padding-top: 1em;
}
#results li {
    font-size: 1.2em;
    line-height: 1.7em;
}
#results ul {
    margin: 0;
    list-style-type: none;
}
#results a {
    color: #0084B4;
}
#results .unfollowed a {
    color: #aaa;
}
#results .followed a {
    color: #FF493C;
}
.auth_button {
    display: inline;
    line-height: 15px;
    font-size: 13px;
    cursor: pointer;
    display: none;
}
#login {
    height: 24px;
    margin-top: 18px;
}
#logout {
    color: #7F453F;
    border-bottom: 1px dotted #AF908D;
    margin-left: 1em;
}
#intro {
    font-size: 1.3em;
}

#intro dt {
    width: 190px;
    margin-right: 10px;
    float: left;
    text-align: right;
}
#intro dd {
    width: 350px;
    margin-bottom: 1em;
    margin-left: 0;
    float: left;
}
#tweepsect_input {
    display: none;
}
#templates {
    display: none;
}
.floating_info_body {
    background: #ffc;
    color: #666;
    padding: 4px;
    line-height: 20px;
    font-size: 12px;
}
.floating_info {
    float: right;
    background: #fff url('/static/images/yellow_corner.png') no-repeat left 1em;
    padding-left: 10px;
    width: 175px;
}
.floating_info p {
    margin: 0;
}
.floating_info img {
    float: left;
    width: 20px;
    height: 20px;
    margin-right: 5px;
}
.floating_info .name {
    font-weight: bold;
    font-size: 16px;
}
.floating_actions {
    height: 15px;
    width: 30px;
    position: absolute;
    margin-top: -1.4em;
    margin-left: -35px;;
}
.floating_actions i {
    float: left;
}
.floating_row {
    position: relative;
    margin-left: -100px;
    padding-left: 100px;
}
.twitter_sprite {
    background-image: url('/static/images/twitter-sprite-icons.png');
    background-repeat: no-repeat;
    height: 13px;
    width: 13px;
    overflow: hidden;
    display: block;
    margin: 1px;
    cursor: pointer;
}
.button {
}
.twitter_sprite.follow { background-position:-176px -32px; }
.twitter_sprite.follow:hover { background-position:-160px -32px; }
.twitter_sprite.unfollow { background-position:-112px -32px; }
.twitter_sprite.unfollow:hover { background-position:-96px -32px; }
.twitter_sprite.block { background-position:-144px -32px; }
.twitter_sprite.block:hover { background-position:-128px -32px; }
